
    marquee{
    color:blue;
    font-size:50;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.table{
    font-size=20;
    font-family:Arial;

}
h1{
    color:blueviolet;
    font-family:Georgia, 'Times New Roman', Times, serif;
}